[submodule "api"]
	path = api
	url = https://github.com/lekuruu/watchtower-api
[submodule "recorder"]
	path = recorder
	url = https://github.com/lekuruu/watchtower-recorder
[submodule "processor"]
	path = processor
	url = https://github.com/lekuruu/watchtower-processor.git
